
.container1 {
	background-color: blue;
	width:100%;
	height:750px;
	position:absolute;
}

.container1A {
	position: relative;
	background-color: yellow;
	width:50%;
	height: 500px;
	margin-top: 50px; 
	margin-left: 250px; 
}

.texte > p {
  position: absolute;
  width: 200px;
  text-align: center;
  padding: 40px 40px;
  font-size: 36px;
  line-height: 1.4;
  font-family: Avenir ,sans-serif;
  color: black;
  margin-left: 0px;
  margin-top: 60px;
  margin-bottom: 5px;
}

.container2 {
	background-color:green;
	width:100%;
	height:750px;
	position:absolute;
	margin-top: 750px;
}

.container2A {
	position: relative;
	background-color: orange;
	width:50%;
	height: 500px;
	margin-top: 50px; 
	margin-left: 250px; 
}